.container {
  height: 100vh;
  // background-color: yellow;

}
.header {
  background-color: red;
  height: 30px;
}

.main {
  background-color: green;
  // overflow-y: auto;
  overflow: hidden;
}

.footer {
  background-color: blue;
  height: 30px;
}

